.table {
    border-collapse: collapse;
    border: none;
    width: 100%;
  }
  
  .header {
    background-color: #202A44;
    transition: all 0.25s ease;
    border-radius: 10px;
  }
  
  .tableHeader {
    background-color: #f1f1f1;
    padding: 12px;
    font-weight: 500;
    text-align: left;
    font-size: 14px;
    color: #d6d6d6;
  }
  
  .header:first-child {
    border-top-left-radius: 15px;
  }
  
  .header:last-child {
    border-top-right-radius: 15px;
  }
  
  .tableRowItems {
    cursor: auto;
  }
  

 


  
